<template>
  <v-app style="background-image: url(https://images.pexels.com/photos/341523/pexels-photo-341523.jpeg?cs=srgb&dl=amontoado-bem-celular-close-341523.jpg&fm=jpg); background-size: 1950px;">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" />

    <template>
      <blockquote class="blockquote font-weight-bold display-2" style="margin-top: 50px; text-align: center">Assistência Técnica</blockquote>
    </template>

    <template>
      <v-data-table
        :headers="headers"
        :items="smartphones"
        sort-by="marca"
        class="elevation-1"
        style="margin-top: 50px;
          margin-right: 100px; 
          margin-left: 100px    
          background-color: white!important;
          opacity: 0.90;
          border-color: transparent!important;"
        :expanded.sync="expanded"
        show-expand
        item-key="modelo"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Tabela de cadastros</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Novo smartphone</v-btn>
              </template>
              <v-card >
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.marca" label="Marca"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.modelo" label="Modelo"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.armazenamento" label="Memória interna"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.ram" label="Memória RAM"></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field v-model="editedItem.tela" label="Tamanho da tela"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                  <v-btn color="blue darken-1" text @click="save">Salvar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
          <v-icon small @click="deleteItem(item)">delete</v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>

        <template v-slot:expanded-item="{ headers }">
          <td :colspan="headers.length">Teste</td>
        </template>

      </v-data-table>
    </template>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    expanded: [],
    headers: [
      { text: "Marca", value: "marca" },
      { text: "Modelo", value: "modelo" },
      { text: "Armazenamento (gb)", value: "armazenamento" },
      { text: "Memória RAM (gb)", value: "ram" },
      { text: "Tamanho da tela (″)", value: "tela" },
      { text: "Ações", value: "action", sortable: false },
      { text: '', value: 'data-table-expand' }
    ],
    smartphones: [],
    editedIndex: -1,
    editedItem: {
      marca: "",
      modelo: "",
      armazenamento: 0,
      ram: 0,
      tela: 0
    },
    defaultItem: {
      marca: "",
      modelo: "",
      armazenamento: 0,
      ram: 0,
      tela: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Novo Smartphone" : "Editar smartphone";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.smartphones = [
        {
          marca: "Samsung",
          modelo: "Galaxy S10",
          armazenamento: 128,
          ram: 6,
          tela: 6
        },
        {
          marca: "Apple",
          modelo: "iPhone XR",
          armazenamento: 128,
          ram: 4,
          tela: 5.5
        },
        {
          marca: "Xiaomi",
          modelo: "Note 8",
          armazenamento: 64,
          ram: 4,
          tela: 5
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.smartphones.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.smartphones.indexOf(item);
      confirm("Tem certeza que deseja deletar este item?") &&
        this.smartphones.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.smartphones[this.editedIndex], this.editedItem);
      } else {
        this.smartphones.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
